.title {
  text-align: center;
}

.container-full {
  background-color: DodgerBlue;
}
.flex-container {
  display: flex;

  justify-content: space-around;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
}

.flex-container input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submitBtn {
  background-color: pink;
}
.card-footer {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
}
