<div class="container-full">
  <h2 class="title">Score result for Par System</h2>

  <div class="flex-container">
    <!-- First Div divider -->
    <div>
      <div>
        <label>Selected Date</label><br />
        <input type="text" />
      </div>
      <div>
        <label>Selected Venue</label><br />
        <input type="text" />
        <br />

        <label>Appraisers</label><br />
        <input type="text" />
      </div>
    </div>

    <!-- Second Div divider -->
    <div>
      <label
        >Coding Standard
        <input type="checkbox" name="one" value="one" />
        <input type="checkbox" name="two" value="two" />
        <input type="checkbox" name="three" value="three" />
        <input type="checkbox" name="four" value="four" />
        <input type="checkbox" name="five" value="five" checked /> </label
      ><br />
      <label
        >Time Management

        <input type="checkbox" name="one" value="one" />
        <input type="checkbox" name="two" value="two" />
        <input type="checkbox" name="three" value="three" />
        <input type="checkbox" name="four" value="four" />
        <input type="checkbox" name="five" value="five" checked /> </label
      ><br />
      <label
        >Qualification
        <input type="checkbox" name="one" value="one" />
        <input type="checkbox" name="two" value="two" />
        <input type="checkbox" name="three" value="three" />
        <input type="checkbox" name="four" value="four" />
        <input type="checkbox" name="five" value="five" checked /> </label
      ><br />
      <label
        >Experience
        <input type="checkbox" name="one" value="one" />
        <input type="checkbox" name="two" value="two" />
        <input type="checkbox" name="three" value="three" />
        <input type="checkbox" name="four" value="four" />
        <input type="checkbox" name="five" value="five" checked /> </label
      ><br />
    </div>
  </div>

  <div class="card-footer">
    <input class="submitBtn" type="submit" value="Submit" />
  </div>
</div>
