<div class="container-full">
  <h2 class="title">Score result for Par System</h2>

  <div class="flex-container">
    <!-- First Div divider -->
    <div>
      <label>Selected Date :<br /> </label><br />

      <label>Selected Venue : <br /> </label><br />

      <label>Appraisers : <br /></label><br />
    </div>

    <!-- Second Div divider -->
    <div>
      <table style="width:100%">
        <tr>
          <th>Requirement</th>
          <th>Rate</th>
        </tr>
        <tr>
          <td>Coding Standard</td>
          <td><input type="number" min="1" max="5" /></td>
        </tr>
        <tr>
          <td>Time Management</td>
          <td><input type="number" min="1" max="5" /></td>
        </tr>
        <tr>
          <td>Qualification</td>
          <td><input type="number" min="1" max="5" /></td>
        </tr>

        <tr>
          <td>Experience</td>
          <td><input type="number" min="1" max="5" /></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="card-footer">
    <input class="submitBtn" type="submit" value="Submit" />
  </div>
</div>
