<div class="container-full">
  <h2 class="title">Schedule par for Single Employee</h2>

  <div class="flex-container">
    <!-- First Div divider -->
    <div>
      <div>
        <label>Select your Designation</label><br />
        <select>
          <option value="Software Engineer">Software Engineer</option>
          <option value="QA Engineer">QA Engineer</option>
          <option value="Project manager">Project manager</option>
          <option value="HR">HR</option>
        </select>
      </div>
      <div>
        <label>Name of the Employee</label><br />
        <select>
          <option value="Mathu">Mathu</option>
          <option value="Karthik">Karthik</option>
          <option value="Abisek">Abisek</option>
          <option value="Vishnu">Vishnu</option> </select
        ><br />

        <label>Your ID</label><br />
        <input type="text" value="emp001" />
      </div>
    </div>

    <!-- Second Div divider -->
    <div>
      <label>Select the Date: </label><br />
      <input type="date" name="bday" /><br />
      <label>Venue</label><br />
      <select>
        <option value="Conference Hall">Conference Hall</option>
        <option value="Auditorium">Auditorium</option>
        <option value="HR Room">HR Room</option>
        <option value="Office">Office</option> </select
      ><br />

      <label>Select Par appraisers</label><br />
      <select multiple>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
    </div>

    <!-- Third Div divider -->
    <div>
      <h1>Requirements</h1>
      <label class="container"
        >Coding Standard
        <input type="checkbox" checked="checked" />
        <span class="checkmark"></span>
      </label>
      <label class="container"
        >Time Management
        <input type="checkbox" />
        <span class="checkmark"></span>
      </label>
      <label class="container"
        >Qualification
        <input type="checkbox" />
        <span class="checkmark"></span>
      </label>
      <label class="container"
        >Experience
        <input type="checkbox" />
        <span class="checkmark"></span>
      </label>
    </div>
  </div>

  <div class="card-footer">
    <input class="submitBtn" type="submit" value="Submit" />
  </div>
</div>
