<div class="container-full">
  <h2 class="title">Evaluate Par System</h2>

  <div class="flex-container">
    <!-- firstS Div divider -->
    <div>
      <table class="table">
        <tr>
          <th>Requirement</th>
          <th>Employee</th>
          <th>ProjectManager</th>
          <th>TechLead</th>
          <th>HRManager</th>
        </tr>
        <tr>
          <td>Coding Standard</td>
          <td><input type="number" min="1" max="5" /></td>
          <td><input type="number" min="1" max="5" /></td>
          <td><input type="number" min="1" max="5" /></td>
          <td><input type="number" min="1" max="5" /></td>
        </tr>
        <tr>
          <td>Time Management</td>
          <td><input type="number" min="1" max="5" /></td>
          <td><input type="number" min="1" max="5" /></td>
          <td><input type="number" min="1" max="5" /></td>
          <td><input type="number" min="1" max="5" /></td>
        </tr>
        <tr>
          <td>Qualification</td>
          <td><input type="number" min="1" max="5" /></td>
          <td><input type="number" min="1" max="5" /></td>
          <td><input type="number" min="1" max="5" /></td>
          <td><input type="number" min="1" max="5" /></td>
        </tr>

        <tr>
          <td>Experience</td>
          <td><input type="number" min="1" max="5" /></td>
          <td><input type="number" min="1" max="5" /></td>
          <td><input type="number" min="1" max="5" /></td>
          <td><input type="number" min="1" max="5" /></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="card-footer">
    <input class="submitBtn" type="submit" value="Submit" />
  </div>
</div>
