<nav>
  <img src="assets/img/girl1.png" alt="Smiley face" height="130" width="150" />
  <ul>
    <li>
      Profile
      <ul class="nav-sub-items">
        <li><a href="#">My Pro</a></li>
      </ul>
    </li>
    <br />
    <li>
      Par
      <ul class="nav-sub-items">
        <li><a href="#"> View Par Result</a></li>
        <li><a routerLink="/scorepar"> Score my Par</a></li>
        <li><a routerLink="/trackpar">Track Par</a></li>
      </ul>
    </li>
    <br />

    <li>
      Manage Par
      <ul class="nav-sub-items">
        <li>
          <a routerLink="/schedulepar_single"> Schedule par for Single user</a>
        </li>
        <li><a href="#"> Schedule par for multi user</a></li>
        <li><a routerLink="/evaluatepar"> Evaluate Par</a></li>
        <li><a href="#"> Configure par requirements</a></li>
        <li><a href="#"> Configure par details</a></li>
      </ul>
    </li>
  </ul>
</nav>
