<nav>
  <img src="assets/img/girl.png" alt="Smiley face" height="120" width="120" />
  <ul>
    <li><a href="#">My Profile</a></li>
    <li>
      PAR
      <ul class="nav-sub-items">
        <li><a href="#"> View Par Result</a></li>
        <li><a href="#"> Score my Par</a></li>
        <li><a href="#"> Track Par</a></li>
      </ul>
    </li>

    <li>
      Manage Par
      <ul class="nav-sub-items">
        <li><a href="#"> Create par for Single user</a></li>
        <li><a href="#"> Create par for multi user</a></li>
        <li><a href="#"> Configure par requirements</a></li>
        <li><a href="#"> Configure par details</a></li>
      </ul>
    </li>
  </ul>
</nav>
